/Software_Code/backend/AgileWebApp/nbproject/private/
/Software_Code/backend/AgileWebApp/build/
/Software_Code/backend/Example JSP/FormsWebApplication/nbproject/private/
/Software_Code/backend/Example JSP/FormsWebApplication/build/
.idea
.vscode
venv
